<div class="card mt-3">
  <div class="card-header">
    <div class="float-start">
      <h4>Cursos</h4>
    </div>
    <div class="float-end">
      <button type="button" class="btn btn-primary" [routerLink]="['novo']">Novo Curso</button>
      <button type="button" class="btn btn-success" (click)="onRefresh()">Atualizar</button>
    </div>
  </div>
  <table class="table" *ngIf="cursos$ | async as cursos; else loading " >
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Cursos</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let curso of cursos">
        <td scope="row">{{curso.id}}</td>
        <td scope="row">{{curso.nome}}</td>
        <td>
          <span class="float-end">
            <button class="btn btn-outline-warning btn-sm" (click)="onEdit(curso.id)">
              Atualizar
            </button>

            <button class="btn btn-outline-danger btn-sm" (click)="onDelete(curso)">
              Remover
            </button>
          </span>
        </td>
      </tr>
    </tbody>
  </table>
  <ng-template #loading>
    <span>Carregando cursos...</span>
  </ng-template>
  <!-- Spiner -->
  <!-- <ng-template #loadingNoError>
    <div *ngIf="error$ | async; else loading ">
    </div>

  </ng-template> -->
</div>
<ng-template #deleteModal>
  <div class="modal-body text-center">
    <p>Tem certeza que deseja remover este curso?</p>
    <button type="button" class="btn btn-default" (click)="confirm()">Sim</button>
    <button type="button" class="btn btn-primary" (click)=" decline()">Não</button>
  </div>
</ng-template>
