<!-- <app-diretivas-ngif></app-diretivas-ngif> -->
<!-- <app-diretivas-ngswitch></app-diretivas-ngswitch> -->
<!-- <app-diretivas-ngfor></app-diretivas-ngfor> -->
<!-- <app-diretivas-ngclass></app-diretivas-ngclass> -->
<!-- <app-diretivas-ngstyle></app-diretivas-ngstyle> -->
<!-- <app-operador-elvis></app-operador-elvis> -->
<!-- <app-exemplo-ngcontent>
 <div class="titulo">Titulo do painel</div>
 <div class="corpo"> Conteúdo passado para o componente.</div>
</app-exemplo-ngcontent> -->

<app-diretivascustomizadas></app-diretivascustomizadas>

