<form #form="ngForm" (ngSubmit)="onSubmit(form)">
  <div class="form-group" [class.has-error]="!nome.valid && nome.touched"
    [class.has-feedback]="!nome.valid && nome.touched">


    <label for="nome" class="form-label" >Nome</label>
    <input type="texto" class="form-control" id="nome" name="nome" [(ngModel)]="usuario.nome"  required #nome="ngModel">

    <div class="alert alert-danger" role="alert" *ngIf="!nome.valid && nome.touched">Nome é obrigatório</div>
    <!-- inicializar os valores -->
    <label for="email" class="form-label">Email address</label>
    <input type="email" class="form-control" id="email" name="email" placeholder="name@example.com"
      [(ngModel)]="usuario.email" required #email="ngModel">
    <div class="alert alert-danger" role="alert" *ngIf="!nome.valid && nome.touched">E-mail inválido</div>

  </div><br>
  <button type="submit" class="btn btn-primary" [disabled]="!form.valid">Submit</button>

<app-form-debug [form]="form"></app-form-debug>
</form>
