<form [formGroup]="formulario" (ngSubmit)="onSubmit()">
  <div class="form-group mb-2" [ngClass]="aplicaCssErro('nome')">
    <label for="nome" class="form-label ">Nome</label>
    <input type="name" class="form-control " id="nome" formControlName="nome">
    <error-msg [control]="convertControl(formulario.get('nome'))" label="Nome"></error-msg>
  </div>

  <!-- inicializar os valores -->
  <div class="form-group mb-2" [ngClass]="aplicaCssErro('email')">
    <label for="email" class="form-label">Email </label>
    <input type="email" class="form-control" id="email" placeholder="name@example.com" formControlName="email">
    <error-msg [control]="convertControl(formulario.get('email'))" label="Email"></error-msg>

  </div>

  <div class="form-group mb-2" [ngClass]="aplicaCssErro('email')">
    <label for="confirmarEmail" class="form-label">Confirmar E-mail</label>
    <input type="confirmarEmail" class="form-control" id="confirmarEmail" placeholder="name@example.com"
      formControlName="confirmarEmail">
    <error-msg [control]=" convertControl(formulario.get('confirmarEmail'))" label="confirmar e-mail"></error-msg>
  </div>

  <div formGroupName="endereco">
    <div class="row">
      <div class="col-md-3 mb-2" [ngClass]="aplicaCssErro('endereco.cep')">
        <label for="cep" class="form-label">Cep</label>
        <input type="text" class="form-control " id="cep" formControlName="cep">
        <error-msg [control]=" convertControl(formulario.get('endereco.cep'))" label="cep"></error-msg>
      </div>

      <div class="col-md-3 mb-2"  [ngClass]="aplicaCssErro('endereco.numero')">
        <label for="numero" class="form-label">Número</label>
        <input type="text" class="form-control" id="numero" formControlName="numero">
        <error-msg [control]=" convertControl(formulario.get('endereco.numero'))" label="número"></error-msg>
      </div>

      <div class="col-md-6 mb-2">
        <label for="complemento" class="form-label">Complemento</label>
        <input type="text" class="form-control" id="complemento" formControlName="complemento">
      </div>
    </div>
    <div class="col-md-12 mb-2" [ngClass]="aplicaCssErro('endereco.rua')">
      <label for="rua" class="form-label">Rua</label>
      <input type="text" class="form-control" id="rua" formControlName="rua">
      <error-msg [control]=" convertControl(formulario.get('endereco.rua'))" label="rua"></error-msg>
    </div>
    <div class="row">
      <div class="col-md-5 mb-2" [ngClass]="aplicaCssErro('endereco.bairro')">
        <label for="bairro" class="form-label">Bairro</label>
        <input type="text" class="form-control" id="bairro" formControlName="bairro">
        <error-msg [control]=" convertControl(formulario.get('endereco.bairro'))" label="bairro"></error-msg>
      </div>

      <div class="col-md-4 mb-2" [ngClass]="aplicaCssErro('endereco.cidade')">
        <label for="cidade" class="form-label">Cidade</label>
        <select class="form-select" id="cidade" formControlName="cidade">
          <option value="">Selecione...</option>
          <option *ngFor="let cidade of cidades " [value]="cidade.nome">{{cidade.nome }}</option>
        </select>
        <error-msg [control]=" convertControl(formulario.get('endereco.cidade'))" label="cidade"></error-msg>
      </div>

      <div class="col-md-3 mb-2" [ngClass]="aplicaCssErro('endereco.estado')">
        <label for="estado" class="form-label">Estado</label>
        <select class="form-select" id="estado" formControlName="estado">
          <option *ngFor="let estado of estados " [value]="estado.sigla">{{ estado.nome }}</option>
        </select>
        <error-msg [control]=" convertControl(formulario.get('endereco.estado'))" label="estado"></error-msg>

      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-md-4 mb-2">
      <label for="cargo" class="form-label">Cargo</label>
      <select class="form-select" id="cargo" formControlName="cargo">
        <option *ngFor="let cargo of cargos" [ngValue]="cargo">{{ cargo.desc }}</option>
      </select>
    </div>

    <div class="col-md-3 mb-2" [ngClass]="aplicaCssErro('tecnologias')">
      <label for="tecnologias" class="form-label">Tecnologias</label>
      <select multiple class="form-select" id="tecnologias" formControlName="tecnologias">
        <option *ngFor="let tecnologia of tecnologias" [ngValue]="tecnologia.nome">{{ tecnologia.desc }}</option>
      </select>
    </div>
    <div class="col-md-3 mb-2">
      <label for="tecnologias" class="form-label">Newsletter</label>
      <div id="newsletter" class="row">
        <div class="col-sm-4 " *ngFor="let item of newsLetterOp">
          <label class="form-check form-check-inline col-md-6"><input class="form-check-input" type="radio"
              [value]="item.valor" formControlName="newsletter" />{{ item.desc }}</label>
        </div>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-6" [ngClass]="aplicaCssErro('termos')">
      <div class="form-check form-switch">
        <label class="form-check-label">
          <input class="form-check-input" role="switch" type="checkbox" formControlName="termos">Aceito os termos
        </label>
      </div>
      <error-msg [control]=" convertControl(formulario.get('termos'))" label="aceite os termos"></error-msg>

    </div>
  </div>

  <div class="col-md-6 m-3" [ngClass]="aplicaCssErro('frameworks')">
    <label for="frameworks">Frameworks Favoritos</label>
    <div id="frameworks" class="row">
      <div class="form-check" formArrayName="frameworks"
        *ngFor="let item of getFrameworksControls(); index as i">
        <label class="form-check-label col-sm-4">
          <input class="form-check-input " type="checkbox"  [formControlName]="i"> {{ frameworks[i] }}
        </label>
      </div>
      <error-msg [control]=" convertControl(formulario.get('frameworks'))" label="frameworks"></error-msg>
  </div>
</div>
  <button type="submit" class="btn btn-primary m-2">Submit</button>
  <button type="submit" class="btn btn-secondary" (click)="resetar()">Cancelar</button>


  <app-form-debug [form]="formulario"></app-form-debug>


</form>
