<form [formGroup]="formulario" (ngSubmit)="onSubmit()">
  <div class="form-group mb-2">
    <label for="nome" class="form-label ">Nome</label>
    <input type="texto" class="form-control " id="nome" [attr.aria-invalid]="formulario.get('nome')?.invalid"
      formControlName="nome">
    <span id="nome-error" class="fw-light"
      *ngIf="formulario.get('nome')?.errors?.['required'] && formulario.get('nome')?.touched"
      style="color: #e70f0f;">Error! nome é obrigatório</span>

  </div>

  <!-- inicializar os valores -->
  <div class="form-group mb-2">
    <label for="email" class="form-label">Email address</label>
    <input type="email" class="form-control" id="email" placeholder="name@example.com"
      [attr.aria-invalid]="formulario.get('email')?.invalid" formControlName="email">
    <span id="nome-error" class="fw-light"
      *ngIf="formulario.get('email')?.errors?.['required'] && formulario.get('email')?.touched"
      style="color: #e70f0f;">Error! e-mail é obrigatório</span>
    <app-campo-control-erro [mostrarErro]=" verificaEmailInvalido()" msgErro="e-mail inválido">
    </app-campo-control-erro>
  </div>

  <div formGroupName="endereco">
    <div class="row">
      <div class="col-md-3 mb-2">
        <label for="cep" class="form-label">Cep</label>
        <input type="text" class="form-control" id="cep" formControlName="cep" (blur)="consultaCEP()">
        <app-campo-control-erro [mostrarErro]=" verificaValidTouched('endereco.cep')" msgErro="cep obrigatório">
        </app-campo-control-erro>
      </div>

      <div class="col-md-3 mb-2">
        <label for="numero" class="form-label">Número</label>
        <input type="text" class="form-control" id="numero" formControlName="numero">
        <app-campo-control-erro [mostrarErro]=" verificaValidTouched('endereco.numero')" msgErro="numero obrigatório">
        </app-campo-control-erro>
      </div>

      <div class="col-md-6 mb-2">
        <label for="complemento" class="form-label">Complemento</label>
        <input type="text" class="form-control" id="complemento" formControlName="complemento">
      </div>
    </div>
    <div class="col-md-12 mb-2">
      <label for="rua" class="form-label">Rua</label>
      <input type="text" class="form-control" id="rua" formControlName="rua">
      <app-campo-control-erro [mostrarErro]=" verificaValidTouched('endereco.rua')" msgErro="rua obrigatório">
      </app-campo-control-erro>
    </div>
    <div class="row">
      <div class="col-md-5 mb-2">
        <label for="bairro" class="form-label">Bairro</label>
        <input type="text" class="form-control" id="bairro" formControlName="bairro">
        <app-campo-control-erro [mostrarErro]=" verificaValidTouched('endereco.bairro')" msgErro="bairro obrigatório">
        </app-campo-control-erro>
      </div>

      <div class="col-md-4 mb-2">
        <label for="cidade" class="form-label">Cidade</label>
        <input type="text" class="form-control" id="cidade" formControlName="cidade">
        <app-campo-control-erro [mostrarErro]=" verificaValidTouched('endereco.cidade')" msgErro="cidade obrigatório">
        </app-campo-control-erro>
      </div>

      <div class="col-md-3 mb-2">
        <label for="estado" class="form-label">Estado</label>
        <select class="form-select" id="estado" formControlName="estado">
          <option *ngFor="let estado of estados | async" [value]="estado.sigla">{{ estado.nome }}</option>
        </select>
        <app-campo-control-erro [mostrarErro]=" verificaValidTouched('endereco.estado')" msgErro="estado obrigatório">
        </app-campo-control-erro>

      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-md-4 mb-2">
      <label for="cargo" class="form-label">Cargo</label>
      <select class="form-select" id="cargo" formControlName="cargo">
        <option *ngFor="let cargo of cargos" [ngValue]="cargo">{{ cargo.desc }}</option>
      </select>
    </div>

    <div class="col-md-3 mb-2">
      <label for="tecnologias" class="form-label">Tecnologias</label>
      <select multiple class="form-select" id="tecnologias" formControlName="tecnologias">
        <option *ngFor="let tecnologia of tecnologias" [ngValue]="tecnologia.nome">{{ tecnologia.desc }}</option>
      </select>

    </div>


    <div class="col-md-3 mb-2">
      <label for="tecnologias" class="form-label">Newsletter</label>
      <div id="newsletter" class="row">
        <label class="radio-inline col-md-6"><input type="radio" formControlName="newsletter"/>Sim</label>
        <label class=" col-md-6" ><input type="radio" formControlName="newsletter"/>Não</label>
      </div>
    </div>

  </div>

  <button type="submit" class="btn btn-primary m2">Submit</button>
  <button type="submit" class="btn btn-secondary" (click)="resetar()">Cancelar</button>


  <app-form-debug [form]="formulario"></app-form-debug>
</form>
